body {
	text-align: center;
	font-family: sans-serif;
	
}

.column {
	
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,2fr);
	grid-gap: 1em;
}


img {
	width: 100px;
	height: auto;
	object-fit: contain;
}

.pagefull {
	display: grid;
	grid-template-columns: 1fr 3fr;

}
.home{
	height:100px;
	width: 100px;
	align-items: center;
	position: relative;
	justify-content: center;
	display: flex;
	overflow: hidden;

}

.home h1 {
	font-family: serifa, serif;
	font-weight: 400;
	font-style: normal;
	margin: 50px 0px 50px 0px;
	padding: 50px ;
	z-index: 2;
	text-align: left;
	background: #fff;
	

}
.videohhome{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;

}


.gallery {
/*	margin: 0px 50px 0px 50px;*/
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
	
;

	
}
.gallery img{
	align-items: center;
	width: 100%;
	filter: grayscale(100%);
	transition: 1s; 
}
	
.gallery img:hover{
	filter: grayscale(0%);
 	transform: scale(1.1);
}


.gallery p{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16pt;
	font-weight: 100;
	text-align: center;
	padding: 10px;
	position:relative;
	
	

}


p, div, h1, h2, h3, h4, h5, h6, nav, address, section, artical, img { border: 4px solid red}
body

